body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:rgb(127, 127, 249); text-decoration: none;}
.bar {
    background-color: #ffffff;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
nav img{
    height: 30px;
    margin: 15px;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
footer {
    min-height: 100px;
    border-top: solid 1px #ffffff;
}
article {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
aside {
    border-right: solid 1px #cdcdcd;
}
figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: gray;
    gap: 15px;
}
img{
    max-width: 100%;
    width: 200px;

    height: auto;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

th,td{
    border: 1px solid #cdcdcd;
    padding: 8px;
    text-align: left;
}
p{
    line-height: 1.6;
    text-align: justify;
}
html{
    scroll-behavior: smooth;
}
